.idea

*.iml

dependency-reduced-pom.xml

target
packages
/frontend/build
*.hxproj
/web-client/out
/web-client/build/mapviewer
/web-client/build/mapviewerworker
/web-client/build/WEB-INF
gwt-unitCache
